* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
}

header {
    background-color: #404040;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}


.logo {
	margin: 0 auto;
    position: absolute;
    padding: 14px 16px;
    display: block;
}

nav {
    max-width: 100%;
    margin-top: 0;
    border: 0;
    float:right;
}

#menu-icon {
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: black;

}


.main-nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main-nav li {
    height: 100px;
    padding: 20px;
    display: inline-block;
}

.main-nav li a {
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase
} 

.main-nav li a:hover {

    color: black;

}

.banner img {
    width: 100%;

}

div .textobanner {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 0px;
    padding: 20px;
}

.textobanner h1 {
    text-align: center;
    width: 100%;
    color: #CC0000;
    font-family:'Raleway', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 0;
    }

.textobanner h2 {
    text-align: center;
    width: 100%;
    color: black;
    font-family:'Raleway', sans-serif;
    font-size: 36px;
    margin: 0;
    padding: 0;
    }

.textobanner a {
    width: 100%;
    color: black;
    font-family:'Raleway', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}


.paradeflotar {
    clear: both;
}


.main-footer {
    background-color: #404040;
    width: 100%;
    position: fixed;
    margin: 0 auto;
}

.main-footer ul {
    display: inline-block;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-left: 0;
}

.main-footer li {
    text-align: center;
    list-style: none;
    float: left;
    padding: 20px;

}

.main-footer li a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.main-footer li a:hover {

    color: black;

}

.encabezado {
    width: 100%;
}

.faqs {
    background-color: #f2f2f2;
}

.iniciodesesion {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ingresar {
    width: 100%;
    background-color: #f2f2f2;
    height: 70%;
}

.registro {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}



@media (max-width : 480px) {

    header {

        position: absolute;

    }

    #menu-icon {

        display:inline-block;
        margin-right: 20px;
        margin-top: 20px;

    }

    nav ul, nav:active ul { 

        display: none;
        position: absolute;
        padding: 20px;
        background: #303030;
        right: 20px;
        top: 60px;
        width: 90%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }

    .main-footer {
    position: absolute;
}

.main-footer li {
   float: none;

}